{% extends "base.html" %}

{% block title %}Link WhatsApp Gerado{% endblock %}

{% block content %}
    <div class="link_sucesso">
    <h1>Seu link do WhatsApp foi gerado!</h1>
    <p>Clique no link abaixo para abrir o WhatsApp:</p>
    <div class="link_whatsapp">
    <a href="{{ link_whatsapp }}" target="_blank">{{ link_whatsapp }}</a>
  </div>
  <div class="copiar_link">
    <a class="button_copiar-link" href=""> <span class="material-symbols-outlined">
      content_copy
      </span>Copiar Link</a>
    <a class="button_gera_novo" href="/"><span class="material-symbols-outlined">
      restart_alt
      </span>  Gera Novo Link</a>
  </div>
  </div>
{% endblock %}